---
import Layout from "@/layouts/Layout.astro";
import Main from "@/components/Main.astro";
import Experiences from "@/components/Experiences.astro";
import Projects from "@/components/Projects.astro";
import About from "@/components/About.astro";
import Effect from "@/components/common/Effect.astro";
---

<Layout title="Xavier Rabert">
  <Main />
  <main class="flex flex-col space-y-10 px-6 lg:px-60 xl:px-96">
    <Experiences />
    <Projects />
    <About />
  </main>
  <Effect />
</Layout>
