---
import { about } from "@/data/es.json";
import H2 from "./common/H2.astro";
import Photo from "./common/Photo.astro";
---

<section id="about">
  <div class="grid grid-cols-3">
    <div class="col-span-2">
      <H2>{about.title}</H2>
      {about.text.map((item) => <p class="pt-1">{item}</p>)}
    </div>
    <Photo imgSrc={about.imgSrc} imgName={about.imgName} />
  </div>
</section>
