---
import { experience } from "@/data/es.json";
import ExperienceDetail from "./ExperienceDetail.astro";
import H2 from "./common/H2.astro";
---

<section id="skills" class="pt-8">
  <H2> {experience.title} </H2>

  <ol class="relative border-s border-gray-200 dark:border-gray-700">
    {experience.experiences.map((exp) => <ExperienceDetail experience={exp} />)}
  </ol>
</section>
