---
import { experience } from "@/data/info.json";
import ExperienceDetail from "./ExperienceDetail.astro";
---

<section id="skills">
  <h2 class="text-3xl font-bold text-x-blue mb-6">Coneixements</h2>
  <div>
    {experience.map((exp) => <ExperienceDetail experience={exp} />)}
  </div>
</section>
