<header id="#header" class="pb-10">
  <nav class="border-gray-200 dark:border-gray-600 dark:bg-gray-900">
    <div
      class="flex flex-wrap justify-end items-center mx-auto max-w-screen-xl p-4"
    >
      <div
        class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      >
        <ul
          class="flex flex-col mt-4 text-xl font-medium md:flex-row md:mt-0 md:space-x-8 rtl:space-x-reverse text-x-blue"
        >
          <li>
            <a href="#skills">Experiència</a>
          </li>
          <li>
            <a href="#projects">Projectes</a>
          </li>
          <li>
            <a href="#about">Qui sóc?</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
