---
import { header } from "@/data/es.json";
---

<header id="#header">
  <nav class="bg-x-dark-grey">
    <div
      class="flex flex-wrap justify-end items-center mx-auto max-w-screen-xl p-4"
    >
      <ul
        class="flex m-4 text-sm md:text-lg font-medium md:space-x-8 rtl:space-x-reverse text-white gap-4"
      >
        {
          header.map((head) => (
            <li>
              <a href={head.link} class="relative z-10">
                {head.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</header>
