---
import { main } from "@/data/es.json";
import Icon from "@/components/Icon.astro";
import Social from "./common/Social.astro";
import Photo from "./common/Photo.astro";
---

<section id="main container">
  <div class="grid lg:grid-cols-2 mt-28">
    <Photo
      imgSrc={main.imgSrc}
      imgName={main.imgName}
      customStyles="right-20"
    />

    <div class="flex flex-col justify-center space-y-4">
      <h1 class="text-4xl mb-4">{main.title}</h1>
      <p class="text-xl">
        {main.text}
      </p>
    </div>
  </div>
</section>
