---
import { projects } from "@/data/es.json";
import ProjectDetail from "@/components/ProjectDetail.astro";
import type { projectDetails } from "@/types/types";
import H2 from "./common/H2.astro";

const porjectsToShow: projectDetails[] = projects.projects.filter(
  (project: projectDetails) => project.showProject
);
---

<section id="projects" class="pt-8">
  <H2>{projects.title}</H2>
  <div class="md:flex flex-wrap gap-10">
    {
      porjectsToShow.map(
        (project) => project.showProject && <ProjectDetail project={project} />
      )
    }
  </div>
</section>
