---
import { projects } from "@/data/info.json";
import ProjectDetail from "@/components/ProjectDetail.astro";
import type { projectDetails } from "@/types/projects";

const porjectsToShow: projectDetails[] = projects.filter(
  (project: projectDetails) => project.showProject
);
---

<section id="projects">
  <h2 class="text-2xl font-bold text-x-blue">Projectes</h2>
  <div class="grid md:grid-cols-2 gap-4 mt-6">
    {
      porjectsToShow.map(
        (project) => project.showProject && <ProjectDetail project={project} />
      )
    }
  </div>
</section>
