<section id="skills">
  <h2 class="text-2xl font-bold text-x-blue">Coneixements</h2>
  <div class="mt-6">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, error
      blanditiis animi dolorem suscipit aperiam beatae, dolorum nostrum quia
      porro velit modi reprehenderit ipsum explicabo iusto tempora adipisci,
      nemo fugit.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis
      delectus nam labore dolore facere aut expedita cupiditate debitis quidem?
      Debitis perspiciatis, numquam similique quia doloribus ipsa accusamus
      repellat rem dicta? Nihil ratione aut beatae eos alias inventore veniam
      doloremque repellat perspiciatis. Placeat deleniti rerum accusantium
      ratione eius, vero incidunt sint!
    </p>
  </div>
</section>
