---
import Icon from "../Icon.astro";
---

<div class="flex space-x-4 z-10 justify-end">
  {
    (
      <a href="#main">
        <Icon
          name="arrowUp"
          size="32"
          customClass="fill-x-grey hover:fill-orange-400"
        />
      </a>
    )
  }
</div>
