---
interface Props {
  imgSrc: string;
  imgName: string;
  customStyles?: string;
}

const { imgSrc, imgName, customStyles } = Astro.props;
---

<div class=`relative overflow-y-clip bg-x-grey justify-end ${customStyles}`>
  <div class="absolute -bottom-16 rounded-full w-full aspect-square bg-x-red">
  </div>
  <img
    src={imgSrc}
    alt={imgName}
    class="w-3/4 z-30 drop-shadow-[0_0_15px_rgba(0,0,0,0.8)] m-auto"
  />
</div>
